.box1{
font-size: 60px;
width: 800px;
height: 600px;
background-color: cadetblue;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKEfUDOdl7fArqU4ZD0QKHGw3yr42NOP5saldVUt9QtLZz79aa&s.jpg");


}